<h1 class="page-header">Pick your most desired bloom</h1>

<div class="poll-page">
  <h2><%= @poll.question %><h2>
  <div class="col-sm-3"></div>
  <form class="col-sm-6 answer-form" action="/categories/<%= @poll.category.id %>/polls" method="post">
    <% @poll.choices.each do |choice| %>
      <div class="input-group">
        <input type="hidden" name="poll_id" value="<%= @poll.id %>">
        <span class="input-group-addon">
          <input type="radio" name="choice_id" value="<%= choice.id %>">
        </span>
        <div class="form-control">
          <%= choice.answer %>
        </div>
      </div>
    <% end %>
    <button type="submit" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">Vote</button>
  </form>
  <div class="col-sm-3"></div>
</div>
